body{
    background: url("../img/background/xmen-backgraund-level1.webp");
    background-size: cover;
    background-position: center;
}

main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

header{
    color: white;
    font-size: 1.3em;
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(51, 51, 51, .7);
}

.btnAudio{
    color: white;
    cursor: pointer;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 25px 50px;
    background-color: rgba(51, 51, 51, .7);
}

.card{
    aspect-ratio: 3/4;
    width: 100%;
    background-color: #333;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.front{
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    
}

.back{
    background: url('../img/fundo-card/xmen-fundo-card-level1.jpg');
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
}

.review-card{
    transform: rotateY(180deg);
}

.disabled-card{
    filter: saturate(0);
    opacity: 0.5;
}