.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 100px auto;
}

.card{
    aspect-ratio: 3/4;
    width: 100%;
    background-color: #333;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid black;
    border-radius: 5px;
}

.front{
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    
}

.back{
    background: url(../img/xmen-backgraund.jpg);
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
}

.review-card{
    transform: rotateY(180deg);
}

.disabled-card{
    filter: saturate(0);
    opacity: 0.5;
}