body{
    background: url("../img/fundo-body-level1.webp");
    background-size: cover;
    background-position: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 25px 50px;
    background-color: rgba(51, 51, 51, .7);
}