body{
    background: linear-gradient(rgba(0, 0, 0, .82), rgba(0, 0, 0, .82)), url("../img/background/xmen-backgraund-index.webp");
    background-size: cover;
    background-position: center;
}

.login-form{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.login-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.login-header img{
    width: 400px;
}

.login-header h1{
    color: #acb1b4;
    font-size: 1.5em;
}

.login-input{
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    width: 100%;
    padding: 15px;
    outline: none;
}

.login-button{
    color: #c4d8ea;
    font-size: 1em;
    max-width: 300px;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #940b0b;
}

.login-button:disabled{
    color: #8e8e8e;
    background-color: #b7b7b7;
}

.login-button:disabled p{
    scale: 1;
}

.login-button p{
    scale: 1.2;
    transition: all .3s;
}


